@page "/management/order/list"
@using Microsoft.Extensions.Localization
@using WebMarketplace.Localization
@inject IStringLocalizer<WebMarketplaceResource> L
@layout ManagementPageLayout

<Card>
    <CardHeader>
        <h2>@L["Main"]</h2>
    </CardHeader>
    <CardBody>
    </CardBody>
</Card>