@page "/cart"
@using Volo.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic
<AuthorizeView>
    <Authorized>
        <p>Cart</p>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin/>
    </NotAuthorized>
</AuthorizeView>


@code {

}