@using WebMarketplace.Products
@inject IProductBuyerAppService ProductBuyerAppService

<CardDeck Class="d-flex justify-content-center flex-wrap">
    @foreach (var product in Products)
    {
        <div class="m-3">
            <ProductCard Product="product" />
        </div>
    }
</CardDeck>

@code {
    [Parameter]
    public List<ProductCardDto> Products { get; set; }
}