@using WebMarketplace.Products

<Div Flex="Flex.Wrap" Gap="Gap.Is3" >
    @foreach (var product in Products)
    {
        <WmProductCard Product="product" />
    }
</Div>

@code {
    [Parameter] public IReadOnlyList<ProductCardDto> Products { get; set; }
    
}